<div class="row">
  <div class="col-md-8 col-md-offset-2">
  <div class="panel panel-default">
    <div class="panel-heading">
      <p class="text-center">testing bootstrap</p>
    </div>
    <div class="panel-body">
      <div class="well">

        <div class="text-center">
          <ul class="text-center" class="list-group">
            <li *ngFor="let item of items" class="list-group-item">{{item.one}} - {{item.two}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
